@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

body {
	font-family: 'Play', sans-serif;
}

.content-wrapper{
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(237, 240, 241);
}

.content{
	display: inline-block;
	padding: 15px 25px;
	border-radius: 20px;
	background-color: rgb(240, 246, 247);

	-webkit-box-shadow: 17px 15px 54px 0px rgba(210,216,217,1);
	-moz-box-shadow: 17px 15px 54px 0px rgba(210,216,217,1);
	box-shadow: 17px 15px 54px 0px rgba(210,216,217,1);
}

.user-input{
	border-radius: 20px;
	/* background:none; */
	padding: 8px 18px;
	font-weight: 600;
	outline: none;
	border:none;
}

.ask-btn{
	padding: 10px 20px;
	margin-left: 14px;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 12px;
	border-radius: 20px;
	background:none;
	outline: none;
	border:none;
	color:#fff;
	background-color: rgb(93, 117, 221);
}

.title, .answer{
	text-align: center;
}

.title{
	color: rgb(63, 86, 189);
	margin: 14px 0 20px 0;
}